<!-- <div>
    <h2>Available Timestamps</h2>
    <ul>
      <li *ngFor="let timestamp of timestamps" (click)="onSelect(timestamp)">
        {{ timestamp }}
      </li>
    </ul>
  </div> -->

  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>Available Timestamps</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let timestamp of timestamps" (click)="onSelect(timestamp)"
      [class.bold-text]="timestamp === selectedTimestamp">
        <mat-icon matListIcon>event</mat-icon>
        <h4 matLine>{{ timestamp }}</h4>
        <button mat-icon-button (click)="onSelect(timestamp)">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card> -->

  <mat-card>
    <mat-card-header>
      <mat-card-title>TestPulse</mat-card-title>  <!-- Existing card title -->
    </mat-card-header>
    <h2>Pantry Pal App</h2>
    <h3>Available Timestamps</h3>  <!-- New heading for the timestamps -->
    <mat-list>
      <mat-list-item *ngFor="let item of timestamps" (click)="onSelect(item.timestamp)">
        <mat-icon matListIcon>event</mat-icon>
        <h4 matLine>Timestamp: {{ item.timestamp }} - Count: {{ item.count }}</h4>
        <button mat-icon-button (click)="onSelect(item.timestamp)">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>


  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>Available Timestamps</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let timestamp of timestamps" 
                     (click)="onSelect(timestamp)" 
                     [class.bold-text]="timestamp === selectedTimestamp">
        <mat-icon matListIcon>event</mat-icon>
        <h4 matLine>{{ timestamp }}</h4>
        <button mat-icon-button (click)="$event.stopPropagation(); onSelect(timestamp)">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card> -->



  <!-- <mat-selection-list (selectionChange)="onSelect($event)">
    <mat-list-option *ngFor="let timestamp of timestamps" [value]="timestamp">
      {{ timestamp }}
    </mat-list-option>
  </mat-selection-list> -->